<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {%~ include 'partials/metatags.html.twig' ~%}
    <style>
      {% apply scss_to_css|minify_css -%}
      {%- block css -%}
      $background: #000;
      $color: #fff;
      $margin: 2px;
      $height: 300px;
      body {
        font: 16px/24px -apple-system, Roboto, Helvetica, Arial, sans-serif;
        background: $background;
        color: $color;
        margin: $margin;
      }
      a {
        color: $color;
      }
      footer {
        display: flex;
        margin: 0.5rem;
        align-items: center;
        justify-content: space-between
      }
      {%- endblock css -%}
      {%- endapply ~%}
    </style>
  </head>
  <body>
    <main>
      {%- block content ~%}
      {{ page.content }}
      {%- endblock ~%}
    </main>
    <footer>
      {%- if site.author.name|default -%}
        {%- set author -%}
        {{ site.author.name }}
        {%- endset -%}
      {%- endif -%}
      {%- if site.author.name|default and site.author.url|default -%}
        {%- set author -%}
        <a href="{{ url(site.author.url) }}">{{ site.author.name }}</a>
        {%- endset -%}
      {%- endif -%}
      {%- set powered_by -%}
      <a href="{{ cecil.url }}">Cecil</a> <a href="https://photo-stream.cecil.app">Photo Stream</a>
      {%- endset ~%}
      {% if author|default %}{% trans %}<div>Photos from %author%{% endtrans %}</div> {% endif %}<div>{% trans %}Powered by %powered_by%{% endtrans ~%}</div>
    </footer>
  </body>
</html>