{% extends 'page.html.twig' %}

      {%- block content ~%}
      {%- for file in site.static|filter(f => f.path matches '/^photos/')|sort((a, b) => a.date|date('U') < b.date|date('U')) ~%}
        {%- set alt = file.basename -%}
        {%- if site.data.photos[file.basename]|default ~%}
          {%- set photo = site.data.photos[file.basename] -%}
          {%- set alt = photo.alt|default(alt) -%}
        {%- endif ~%}
      <div>
        {%- set image = asset(file.path)|resize(600) ~%}
        <a href="{{ url(file.path) }}">
          {{ image|html({'alt': alt, 'loading': 'lazy'}) }}
        </a>
        {%- if photo.author|default ~%}
        <span class="author">
          <a href="{{ site.author.root }}{{ photo.author.handle }}">{{ photo.author.name }}</a>
        </span>
        {%- endif ~%}
      </div>
      {%- set photo = '' -%}
      {%- endfor ~%}
      {%- endblock ~%}