{% extends 'page.html.twig' %}

      {%- block css ~%}
      {{ parent() }}
      div#gallery {
        display: flex;
        flex-wrap: wrap;
      }
      div#gallery::after {
        content: '';
        flex-grow: 999999999;
      }
      #gallery span.title {
        z-index: 9999;
        position: fixed;
        margin: 0.5rem;
        font-size: x-large;
      }
      #gallery span.title a {
        text-decoration: none;
      }
      #gallery div.photo {
        flex-grow: 1;
        margin: $margin;
        background-color: $background;
        height: $height;
        position: relative;
      }
      #gallery img {
        height: $height;
        width: 100%;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom;
        filter: alpha(opacity=80);
        opacity: 0.8;
      }
      #gallery img:hover {
        filter: alpha(opacity=100);
        opacity: 1;
      }
      #gallery div.data {
        position: absolute;
        bottom: 0px;
        left: 0px;
        opacity: .6;
        width: 100%;
        font-size: small;
        font-style: italic;
        padding-left: .25rem
      }
      #gallery div.data a {
        text-decoration: none;
      }
      #gallery div.data:hover {
        opacity: 1;
        background-color: $background;
      }
      #gallery span.author {
        font-style: normal;
      }
      {%- endblock css ~%}

      {%- block content ~%}
      <div id="gallery">
        <span class="title"><a href="{{ url('/') }}" title="{{ site.description|default(site.title) }}">{{ site.title }}</a></span>
        {%- for file in site.static|filter(f => f.path matches '/^photos/')|sort((a, b) => a.date|date('U') < b.date|date('U')) ~%}
          {%- if site.data.photos[file.basename] is defined ~%}
            {%- set photo = site.data.photos[file.basename] -%}
          {%- endif ~%}
        <div class="photo">
          {%- set image = asset(file.path)|resize(600) ~%}
          <a href="{{ url(file.path) }}" title="{{ photo.alt|default("Click to view this photo in full size"|trans) }}">
            {{ image|html({'alt': photo.alt|default(file.basename), 'loading': 'lazy'}) }}
          </a>
          {%- if photo.alt is defined or photo.author.name is defined ~%}
          <div class="data">
            {%- if photo.alt is defined ~%}
            <em>{{ photo.alt }}</em>
            {%- endif ~%}
            {%- if photo.alt is defined and photo.author.name is defined %} &middot; {% endif ~%}
            {%- if photo.author.name is defined ~%}
            {%- set author -%}
              {%- if photo.author.url is defined -%}
                <a href="{{ photo.author.url }}" title="{% trans %}Author's page{% endtrans %}">{{ photo.author.name }}</a>
              {%- else -%}
                {{ photo.author.name }}
              {%- endif -%}
            {%- endset ~%}
            <span class="author">{%- trans %}Credit: %author%{% endtrans ~%}</span>
            {%- endif ~%}
          </div>
          {%- endif ~%}
        </div>
        {%- set photo = '' -%}
        {%- endfor ~%}
      </div>
      {%- endblock ~%}