<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <base href="{{ url('/') }}">
    <link rel="canonical" href="{{ url('/', {canonical: true}) }}">
    <style>
      {%- apply scss_to_css|minify_css -%}
      $background: #000;
      $color: #fff;
      $margin: 2px;
      $height: 200px;
      body {
        font: 16px/24px -apple-system, Roboto, Helvetica, Arial, sans-serif;
        background: $background;
        color: $color;
        margin: $margin;
      }
      main {
        display: flex;
        flex-wrap: wrap;
      }
      main::after {
        content: '';
        flex-grow: 999999999;
      }
      div {
        flex-grow: 1;
        margin: $margin;
        background-color: $background;
        height: $height;
      }
      img {
        height: $height;
        width: 100%;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom;
      }
      a {
        color: $color;
      }
      footer {
        margin: 10px;
        text-align: right;
      }
      {%- endapply -%}
    </style>
  </head>
  <body>
    <main>
      {%- for file in site.static|filter(f => f.path matches '/^photos/')|sort((a, b) => a.date|date('U') < b.date|date('U')) ~%}
      <div>
        {%- set image = asset(file.path)|resize(300) ~%}
        <a href="{{ url(file.path) }}">
          {#-<img src="{{ image|url() }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ file.basename }}" loading="lazy">~#}
          {{ image|html({'alt': file.basename, 'loading': 'lazy'}) }}
        </a>
      </div>
      {%- endfor ~%}
    </main>
    <footer>
      Photos from <a href="{{ url(site.author.url) }}">{{ site.author.name }}</a> - Powered by <a href="{{ cecil.url }}">Cecil</a>
    </footer>
  </body>
</html>