<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }} (powered by Cecil)</title>
    <base href="{{ url() }}">
    <link rel="canonical" href="{{ url() }}">
    <style>
{% filter SCSStoCSS %}
      $background: #000;
      $color: #fff;
      $margin: 2px;
      $height: 200px;
      body {
        font: 16px/24px -apple-system, Roboto, Helvetica, Arial, sans-serif;
        background: $background;
        color: $color;
        margin: $margin;
      }
      section{
        display: flex;
        flex-wrap: wrap;
      }
      section::after{
        content: '';
        flex-grow: 999999999;
      }
      div{
        flex-grow: 1;
        margin: $margin;
        background-color: $background;
        height: $height;
      }
      img{
        height: $height;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom;
      }
      a {
        color: $color;
      }
      footer {
        margin: 10px;
        text-align: right;
      }
{% endfilter %}
    </style>
  </head>
  <body>
    <section>
{% for file in site.static|sort((a, b) => a.date > b.date) if file.path matches '/^photos/' %}
      <div>
        <a href="{{ url(file.path) }}"><img src="{{ url(file.path|resize(800)) }}" alt="{{ file.basename }}" loading="lazy"></a>
      </div>
{% endfor %}
    </section>
    <footer>Photos from <a href="{{ site.author.url }}">{{ site.author.name }}</a> - Powered by <a href="https://cecil.app">Cecil</a></footer>
  </body>
</html>
